a {
  text-decoration: none;
  color:#fff
}

a:hover {
  color:#fff  
}

body {
  color:#FFF;
  line-height: 1.5;
}



/*Side menu */

#hamburger-icon:hover {
  cursor:pointer;
  opacity:0.7
}

.side-menu-section:hover {
  color:#FFFFFF !important;
  cursor: pointer;
}

#hamburger-icon{
  width: 25px;
  height: 25px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2),#hamburger-icon span:nth-child(3) {
  top: 8px;
}

#hamburger-icon span:nth-child(4) {
  top: 16px;
}

#hamburger-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.light-switch {
  width:50px;
  height:25px;
  border-radius: 50px;
  background-color:white;
  display: flex;
  align-items: center;
  padding:2px;
  border: 1px solid rgb(218, 218, 218)
}
.light-switch:hover {
  cursor:pointer
}
/*Hero section */

.hero-btn {
  background-color: transparent !important;
  padding:16px 28px 16px 28px;
  font-size:14px;
  letter-spacing:1px;
  margin-top: 30px;
  border-color: #fff;
  transition:0.5s;
  color:#fff;
  border-width:2px;
  font-weight: 600;
}

.hero-btn:hover {
 color:#fff;
  border-color: #802bb1 !important;
  background-color: #802bb1 !important;
}

.hero-underline {
  position: relative;
}

.hero-underline::after {
  content: '';
  display: block;
  width: 100%;
  position:absolute;
  left:0;
  height: 2px;
  background: #802bb1;
  margin-top: 8px;
}

/*Navbar */

.navbar-link {
  position: relative;
}

.navbar-link::after {
  content: '';
  display: block;
  width: 0;
  position:absolute;
  left:0;
  height: 2px;
  background: #802bb1;
  transition: 0.5s ;
  margin-top: 3px;
}

.navbar-link:hover::after {
  width: 100%;
}


/*Light mode class */

.light-slider {
  transition: 0.3s;
  width: 20px;
  height:20px;
  border-radius:50%;
  background-color: rgb(200, 200, 200);
  position: absolute;
}
.light-mode  {
  background-color:#fff !important;
  color:#000 !important
}

.light-mode-background-dark {
  color:#000 !important;
  background-color: #000 !important;
}

.menu-section-light-mode {
  opacity:0.5 !important;
  color: #000 !important;
  border-color:rgb(210,210,210) !important

}
.menu-section-right-light-mode {
  border-color:rgb(210,210,210) !important;
  background-color:#fff !important;
  color:#000 !important
}

.menu-section-light-mode:hover {
  opacity: 1 !important;
  color: #000 !important;
}

.btn-light-mode {
  color:#000 !important;
  border-color:#000 !important
}

