a {
  text-decoration: none;
  color:#fff
}

a:hover {
  color:#fff  
}

body {
  color:#FFF
}

/*Side menu */

#hamburger-icon:hover {
  cursor:pointer;
  opacity:0.7
}

.side-menu-section:hover {
  color:#FFFFFF !important;
  cursor: pointer;
}

/*Hero section */

.hero-btn {
  background-color: transparent !important;
  padding:16px 26px 16px 26px;
  font-size:14px;
  letter-spacing:1px;
  margin-top: 30px;
  border-color: #FFF;
  transition:0.5s
}

.hero-btn:hover {

  border-color: #b238eb !important;
  background-color: #b238eb !important;
}




/*Navbar */

.navbar-link {
  position: relative;
}

.navbar-link::after {
  content: '';
  display: block;
  width: 0;
  position:absolute;
  left:0;
  height: 2px;
  background: #b238eb;
  transition: 1s ;
  margin-top: 3px;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link{
transition: 1s ;
}

